SQLAlchemy
biopython
gevent
gevent-websocket
git+https://github.com/mitsuhiko/flask.git
flask-script
flask-runner
flask_sqlalchemy
flask-socketio
flask-assets
bx
git+git://github.com/vladsaveliev/NGS_Utils.git