{% extends "_base.html" %}

{% block head %}
        <!--suppress ALL -->
        <title>{{ title }}</title>
{% endblock %}

{% block body %}
        <p style="font-size: 1.5em;">
            <a href="/" style="margin-left: -1.1em;">
            < Added AZ projects</a>
            <br><br>
            <span style="font-weight: bold;">Building phylogeny tree</span>
        </p>

        <ul style="margin-left: -23px;">
        <span style="margin-left: -16px;">Samples from the following projects are used:</span>
        {% for project_name in projects %}
            <li>{{ project_name }}</li>
        {% endfor %}
        </ul>
        <br>

        <div>
        {{ message|safe }}
        </div>

{#        <form action="/enter_email" method="post" name="email">#}
{#            {{form.hidden_tag()}}#}
{#            <p>#}
{#                To get an email about finished job, please enter the email: <br>#}
{#                {{form.search(size=10)}}#}
{#            </p>#}
{#            <p><input type="submit" value="email"></p>#}
{#        </form>#}

{% endblock %}
