{% extends "_base.html" %}

{% block head %}
        <!--suppress ALL -->
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tree.css') }}">

{% endblock %}

{% block body %}
        <p style="font-size: 1.5em;">
            <a href="/" style="margin-left: -1.1em;">
            < Added AZ projects</a>
            <br><br>
            <span style="font-weight: bold;">Phylogeny tree based on fingerprints</span>
        </p>

        <p style="margin-left: -16px;">Samples from the following projects are used:</p>
        {% for (genome, ps) in proj_by_genome_build %}
            <ul style="margin-left: -23px;">
            <span style="margin-left: -16px;">{{ genome }}</span>
            {% for project in ps %}
                <li style="color: {{ project.color }}" class="{{ project.name }}--label">
                    <span class="project-label">{{ project.name }}</span>
                </li>
            {% endfor %}
            </ul>
            <br>
        {% endfor %}

        <div id="tree_newick_json" style="display: none;">{{ tree_newick|safe }}</div>
        <svg id="tree_svg"></svg>

{% endblock %}

{% block js %}
        <script src="{{ url_for('static', filename='d3/d3.v4.js') }}"></script>

        <!-- Copyright 2011 Jason Davies https://github.com/jasondavies/newick.js -->
        <script>function parseNewick(a){for(var e=[],r={},s=a.split(/\s*(;|\(|\)|,|:)\s*/),t=0;t<s.length;t++){var n=s[t];switch(n){case"(":var c={};r.branchset=[c],e.push(r),r=c;break;case",":var c={};e[e.length-1].branchset.push(c),r=c;break;case")":r=e.pop();break;case":":break;default:var h=s[t-1];")"==h||"("==h||","==h?r.name=n:":"==h&&(r.length=parseFloat(n))}}return r}</script>

        <script>

        var numSamples = {{ samples_count }};

        var sampleHeight = 15,
            topAnnoHeight = 70,
            bottomAnnoHeight = 70;

        var treeWidth = Math.min(Math.max(250, numSamples * 15), 800),
            height = numSamples * sampleHeight,
            svgWidth = treeWidth,
            svgHeight = height + topAnnoHeight;

        var cluster = d3.cluster()
            .size([height, treeWidth])
            .separation(function(a, b) { return 1; });

        var svg = d3.select("#tree_svg")
            .attr("width", svgWidth)
            .attr("height", svgHeight + bottomAnnoHeight)
            .attr("style", "margin-top: -" + (topAnnoHeight - 10))
            // .attr("style", "margin-bottom: -" + bottomAnnoHeight);

        var offsetX = 20;
        var chart = svg.append("g")
            .attr("transform", "translate(" + offsetX + "," + svgHeight + ")rotate(-90)");

        var projects = {{ info_by_sample_by_project|safe }};
        var locations = {{ locations|safe }};  // [dict(chrom=l.chrom, pos=l.pos, rsid=l.rsid, gene=l.gene) for l in run.locations]
        var tree_newick_data = $('#tree_newick_json').text();
        $(function() {
          var root = d3.hierarchy(parseNewick(tree_newick_data), function(d) { return d.branchset; })
              .sum(function(d) { return d.branchset ? 0 : 1; })
              .sort(function(a, b) { return (a.value - b.value) || d3.ascending(a.data.length, b.data.length); });

          cluster(root);

          var input = d3.select("#show-length input").on("change", changed),
              timeout = setTimeout(function() { input.property("checked", true).each(changed); }, 2000);

          setRadius(root, root.data.length = 0, treeWidth / maxLength(root));
          setColor(root);

          var linkExtension = chart.append("g")
              .attr("class", "link-extensions")
            .selectAll("path")
            .data(root.links().filter(function(d) { return !d.target.children; }))
            .enter();  //.append("path")
              //.each(function(d) { d.target.linkExtensionNode = this; })
              //.attr("d", linkExtensionVariable);

          var link = chart.append("g")
              .attr("class", "links")
            .selectAll("path")
            .data(root.links())
            .enter().append("path")
              .each(function(d) { d.target.linkNode = this; })
              .attr("d", linkVariable)
              .attr("stroke", function(d) { return d.target.color; });

          var treeLabelSpace = 8,
              sampleSeqSpace = 20,
              genderSpace = 15,
              ncInterPairSpace = 2,
              ncIntraPairSpace = -1;

          var leafsHorizontalPositions = [];
          chart.selectAll()
              .data(root.leaves())
            .enter().append("g")
              .attr("class", "leaf")
              .attr("transform", function(d) {
                leafsHorizontalPositions.push(d.radius);
                return "translate(" + d.x + "," + (d.radius + treeLabelSpace) + ")rotate(90)";
              })
          // Keep in mind that x and y are flipped because the original tree is rotated (-90), and labels are rotated again (90) to make text back horizontal!
          var leafsLabels = chart.selectAll(".leaf")
            .append("svg:a")
              .attr("xlink:href", function(d) { return getSampleId(d.data.name); })
              .attr("pointer", "cursor");
          var leafsTexts = leafsLabels.append("text")
              .attr("dy", 3)
              .text(function(d) { return getSampleName(d.data.name); })
              .style("fill", function(d) { return setColor(d); })
          var labelSizes = [];
          leafsTexts.each(function() { labelSizes.push(this.getComputedTextLength()); });
          leafsLabels.append("svg:rect")
              .attr("y", -(sampleHeight / 2 + 3))
              .attr("height", sampleHeight + 1)
              .attr("width", function(d, i) { return labelSizes[i]; })
              .attr("fill", "black")
              .style("opacity", 0.0)
              .on("mouseover", mouseovered(true))
              .on("mouseout", mouseovered(false));

          var maxTextWidth = d3.max(labelSizes);

          var genderWidth = chart.selectAll(".leaf")
            .append("text")
              .text(function(d) { return getSample(d.data.name) && getSample(d.data.name).sex ? getSample(d.data.name).sex.toLowerCase() : ""; })
              .attr("dy", 3)
              .attr("x", function(d, i) { return treeWidth - d.radius + maxTextWidth + genderSpace; })
              .attr("class", function(d) { return "gender " + (getSample(d.data.name) && getSample(d.data.name).sex ? "gender_" + getSample(d.data.name).sex.toLowerCase() : ""); })
              .node()
              .getComputedTextLength();

          var seqX = treeWidth + maxTextWidth + genderSpace + genderWidth + sampleSeqSpace,
              locWidth = 7;
          chart.selectAll(".leaf")
            .append("g")
              .attr("x", function(d, i) { return seqX - d.radius; })
              .attr("class", "seq")
              .each(function(d, i) {
                var nucEl = d3.select(this).selectAll(".nucRect")
                    .data(getSample(d.data.name).seq)
                  .enter().append("g")
                    .attr("transform", function(_, i) {
                        var horizontalShift = seqX - d.radius + i*locWidth; // + ((i%2 == 0) ? ncInterPairSpace : 0);
                        return "translate(" + horizontalShift + "," + -4 + ")";
                    });
                nucEl.append("rect")
                    .attr("y", -4)
                    .attr("width", locWidth + 1)
                    .attr("height", sampleHeight + 1)
                    .attr("class", function(d) { return d.toLowerCase(); })
                nucEl.append("text")
                    .attr("x", function(_, i) { return 1 + ((i%2 == 0) ? 1 : -1); })
                    .attr("y", 7)
                    .text(function(d) { return d; });
              })
              .node()
          var seqWidth = locWidth*locations.length*2;

          var annoX = treeWidth + maxTextWidth + 8 +
              genderSpace +
              genderWidth +
              sampleSeqSpace;
          topAnnoY = svgHeight;
          locWidth = (seqWidth)/locations.length;
          indexHeight = 9;
          chart.append("g")
              .attr("transform", function(d, i) { return "translate(" + (topAnnoY+indexHeight) + "," + (annoX+10) + ")rotate(90)"; })
            .selectAll(".loc")
              .data(locations)
            .enter().append("text")
              .attr("transform", function(d, i) { return "translate(" + i*locWidth + "," + (topAnnoHeight-5) + ")rotate(-90)"; })
              .attr("class", "loc_anno")
            .append("tspan")
              .attr("fill", "#black")
              .text(function(d) { return d.chrom + ':'; })
            .append("tspan")
              .attr("fill", "#999")
              .text(function(d) { return ' ' + d.rsid; });
          chart.append("g")
              .attr("transform", function(d, i) { return "translate(" + (topAnnoY-2) + "," + annoX + ")rotate(90)"; })
            .selectAll(".loc")
              .data(locations)
            .enter().append("text")
              .attr("transform", function(d, i) {
                var x = 6;
                if (i+1>=10) x = 4;
                if (i+1>=100) x = 2;
                return "translate(" + (i*locWidth+x) + "," + (topAnnoHeight-5) + ")";
              })
              .attr("class", "loc_index")
            .append("tspan")
              .attr("fill", "#999")
              .text(function(d, i) { return i + 1; });
          bottomAnnoY = -5;
          chart.append("g")
              .attr("transform", function(d) { return "translate(" + bottomAnnoY + "," + (annoX+4) + ")rotate(90)"; })
            .selectAll(".loc")
              .data(locations)
            .enter().append("text")
              .attr("transform", function(d, i) { return "translate(" + i*locWidth + "," + 0 + ")rotate(90)"; })
              .attr("class", "loc_anno")
            .append("tspan")
              .attr("fill", "#999")
              .text(function(d) { return d.gene; });

          svg.attr("width", treeWidth + maxTextWidth  +
              genderSpace +
              genderWidth +
              sampleSeqSpace +
              seqWidth +
              50);

          function changed() {
            clearTimeout(timeout);
            var t = d3.transition().duration(750);
            linkExtension.transition(t).attr("d", this.checked ? linkExtensionVariable : linkExtensionConstant);
            link.transition(t).attr("d", this.checked ? linkVariable : linkConstant);
          }

          function mouseovered(active) {
            return function(d) {
              if (Object.keys(projects).length > 1) {
                var project = getSampleProject(d.data.name);
                $('.' + project.name + '--label>span').toggleClass("project-label--highlighted");
              }
              d3.select(this).classed("label--active", active);
              d3.select(d.linkExtensionNode).classed("link-extension--active", active).each(moveToFront);
              do d3.select(d.linkNode).classed("link--active", active).each(moveToFront); while (d = d.parent);
            };
          }

          function moveToFront() {
            this.parentNode.appendChild(this);
          }
        });

        // Compute the maximum cumulative length of any node in the tree.
        function maxLength(d) {
          return d.data.length + (d.children ? d3.max(d.children, maxLength) : 0);
        }

        // Set the radius of each node by recursively summing and scaling the distance from the root.
        function setRadius(d, y0, k) {
            if (!d.parent) d.radius = 0;
            else d.radius = (y0 += d.data.length) * k;
            if (d.children) d.children.forEach(function(d) { setRadius(d, y0, k); });
        }

        // Set the color of each node by recursively inheriting.
        function setColor(d) {
            var name = d.data.name;
            if (!name && d.children) {
                var colors = [];
                $.each(d.children, function(i, node) {
                    color = setColor(node)
                    if($.inArray(color, colors) === -1) colors.push(color);
                });
                if (colors.length == 1) d.color = colors[0];
                else {
                  d.color = '#ccc';
                }
            }
            else if (name) {
                project = getSampleProject(name);
                d.color = project.color;
            }
            return d.color;
        }

        function splitNodeId(nodeId) {
            return nodeId.split('____PROJECT_');
        }

        function getSampleId(nodeId) {
            var project = getSampleProject(nodeId);
            sampleName = getSampleName(nodeId);
            return project.samples[sampleName].id;
        }

        function getSampleName(nodeId) {
            parts = splitNodeId(nodeId);
            return parts[0];
        }

        function getSample(nodeId) {
            sampleName = getSampleName(nodeId);
            project = getSampleProject(nodeId);
            sample = project.samples[sampleName];
            return sample;
        }

        function getSampleProject(nodeId) {
            parts = splitNodeId(nodeId);
            var sampleName = parts[0],
                projectName = parts.length > 1 ? parts[1] : null;
            return projects[projectName];
        }

        function linkVariable(d) {
          return linkStep(d.source.x, d.source.radius, d.target.x, d.target.radius);
        }

        function linkConstant(d) {
          return linkStep(d.source.x, d.source.y, d.target.x, d.target.y);
        }

        function linkExtensionVariable(d) {
          return linkStep(d.target.x, d.target.radius, d.target.x, treeWidth);
        }

        function linkExtensionConstant(d) {
          return linkStep(d.target.x, d.target.y, d.target.x, treeWidth);
        }

        function linkStep(sourceX, sourceY, targetX, targetY) {
          return "M" + sourceX + "," + sourceY + "A 0,0 0 0,0 " + targetX + "," + sourceY + "L" + targetX + "," + targetY;
        }

        </script>
{% endblock %}



