{% extends "_base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sample.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='igv/igv.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans'>
{% endblock %}

{% block body %}
    <div class="left-side" style="float: left">
        <p style="font-size: 1.3em;">
            <a href="/" style="margin-left: -1em;">
            < AZ projects with pre-computed fingerprints</a>
            <br><br>
            <a href="/{{ run_id }}/tree" style="margin-left: -1em;">
            < Phylogeny tree based on fingerprints</a>
            <br><br>
            <span style="font-weight: bold; margin-left: -0.2em;">Closest match for {{ sampleA.name }}</span>
        </p>

        <div style="float: left;">
            <table class=samplePair style="margin-left: -0.3em;">
                <tr><td class=ab>A</td><td class="sampleIntoTd">
                    <table class=sampleInfo>
                        <tr><td class=sampleInfoName>Sample:&nbsp;</td><td class=sampleInfoValue colspan=7>{{ sampleA.name }}</td></tr>
                        <tr><td class=sampleInfoName>Project:&nbsp;</td><td class=sampleInfoValue colspan=7>{{ sampleA.project }}</td></tr>
                    </table>
                </td></tr>
                <tr><td class=ab>B</td><td class="sampleIntoTd">
                    <table class=sampleInfo>
                        <tr><td class=sampleInfoName>Sample:&nbsp;</td><td class=sampleInfoValue colspan=7>{{ sampleB.name }}</td></tr>
                        <tr><td class=sampleInfoName>Project:&nbsp;</td><td class=sampleInfoValue colspan=7>{{ sampleB.project }}</td></tr>
                    </table>
                </td></tr>
            </table>
            <br>
        </div>

        <div style="float: left; margin-left: 60px; margin-top: 5px;">
{#            <div class="score_total" style="margin-left: -1px; margin-bottom: 3px;">Total Score: {{ snps_data.total_score }} ({{ snps_data.confidence }} Confidence)</div>#}
            <table class="score_details" style="margin-left: -1px;">
                <tr><td class="scoreName">Heterozygous SNP Matches:&nbsp;</td><td class=scoreValue>{{ snps_data.het_matches }}</td></tr>
                <tr><td class="scoreName">Homozygous SNP Matches:&nbsp;</td><td class=scoreValue>{{ snps_data.hom_matches }}</td></tr>
                <tr><td class="scoreName">Heterozygous SNP Mismatches:&nbsp;</td><td class=scoreValue>{{ snps_data.het_mismatches }}</td></tr>
                <tr><td class="scoreName">Homozygous SNP Mismatches:&nbsp;</td><td class=scoreValue>{{ snps_data.hom_mismatches }}</td></tr>
                <tr><td class="scoreName">Missing/Ignored SNPs:&nbsp;</td><td class=scoreValue>{{ snps_data.snp_missing }}</td></tr>
            </table>
        </div>
        <div style="clear: both"></div>

        {% for snp_records in snp_tables %}
        <table class="match fixed " cellspacing="0" style="margin-left: -64px;">
            <tr class="index_row">
                <td class="snpIndex">&nbsp;</td>
                {% for snp_record in snp_records %}
                    <td class="snpIndex cell"
                        id="{{ snp_record.index }}_idx"
                     chrom="{{ snp_record.chrom }}"
                       pos="{{ snp_record.pos }}">
                        {{ snp_record.index }}
                    </td>
                {% endfor %}
            </tr>
            <tr class="table_variant snprow">
                <td class=abSmall>A&nbsp;</td>
                {% for snp_record in snp_records %}
                    <td class="hom_match quality_A toprow cell {{ snp_record.class }} {{ snp_record.usercallA }}"
                           id="{{ snp_record.index }}_a"
                        chrom="{{ snp_record.chrom }}"
                          pos="{{ snp_record.pos }}">
                        <form style="display: none; text-transform: uppercase;" class="form-inline" method="POST" action="add_usercall/">
                            <input type="hidden" name="editSampleId" value="{{ sampleA.id }}">
                            <input type="hidden" name="snpIndex" value="{{ snp_record.index }}">
                            <input type="hidden" name="rsid" value="{{ snp_record.rsid }}">
                            <input type="hidden" name="chrom" value="{{ snp_record.chrom }}">
                            <input type="hidden" name="pos" value="{{ snp_record.pos }}">
                            <input type="hidden" name="selectedCellId" value="{{ snp_record.index }}_a">
                            <input type="text" name="usercall" value="{{ snp_record.snpA }}" maxlength="2" size="2" class="usercall_input">
                        </form>
                        <span>{{ snp_record.snpA }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr class="table_variant snprow">
                <td class=abSmall>B&nbsp;</td>
                {% for snp_record in snp_records %}
                    <td class="hom_match quality_A bottomrow cell {{ snp_record.class }} {{ snp_record.usercallB }}"
                           id="{{ snp_record.index }}_b"
                        chrom="{{ snp_record.chrom }}"
                          pos="{{ snp_record.pos }}">
                        <form style="display: none; text-transform: uppercase;" class="form-inline" method="POST" action="add_usercall/">
                            <input type="hidden" name="editSampleId" value="{{ sampleB.id }}">
                            <input type="hidden" name="snpIndex" value="{{ snp_record.index }}">
                            <input type="hidden" name="rsid" value="{{ snp_record.rsid }}">
                            <input type="hidden" name="chrom" value="{{ snp_record.chrom }}">
                            <input type="hidden" name="pos" value="{{ snp_record.pos }}">
                            <input type="text" name="usercall" value="{{ snp_record.snpB }}" maxlength="2" size="2" class="usercall_input">
                        </form>
                        <span>{{ snp_record.snpB }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr class="table_variant penaltyrow">
                <td class=abSmall>Penalty&nbsp;</td>
                {% for snp_record in snp_records %}
                    <td class="hom_match scorerow cell {{ snp_record.class }}"
                           id="{{ snp_record.index }}_penalty"
                        chrom="{{ snp_record.chrom }}"
                          pos="{{ snp_record.pos }}">
                        {{ snp_record.penalty }}
                    </td>
                {% endfor %}
            </tr>
            <tr class="table_variant depthrow">
                <td class="abSmall depthrow" style="text-align: right; padding-top: 2px;">Depth&nbsp;A&nbsp;</td>
                {% for snp_record in snp_records %}
                    <td class="cell depthrow"
                           id="{{ snp_record.index }}_depth"
                        chrom="{{ snp_record.chrom }}"
                          pos="{{ snp_record.pos }}">
                        {{ snp_record.depthA }}<span style="color: gray;">x</span>
                    </td>
                {% endfor %}
            </tr>
            <tr class="table_variant depthrow">
                <td class="abSmall depthrow" style="text-align: right; padding-top: 1px;">Depth&nbsp;B&nbsp;</td>
                {% for snp_record in snp_records %}
                    <td class="cell depthrow"
                           id="{{ snp_record.index }}_depth"
                        chrom="{{ snp_record.chrom }}"
                          pos="{{ snp_record.pos }}">
                        {{ snp_record.depthB }}<span style="color: gray;">x</span>
                    </td>
                {% endfor %}
            </tr>
        </table>
        {% endfor %}

        <table class=legend>
            <tr><td class=legendHeader colspan=4>Legend</td>    </tr>
            <tr><td class=match>&nbsp;&nbsp;</td>               <td>Match</td>                  <td class="thirdcol conservative">AT</td>  <td>Conservative Call</td></tr>
            <tr><td class=het_mismatch>&nbsp;&nbsp;</td>        <td>Heterozygous Mismatch</td>  <td class="thirdcol moderate">AT</td>      <td>Moderate Call</td></tr>
            <tr><td class=hom_mismatch>&nbsp;&nbsp;</td>        <td>Homozygous Mismatch</td>    <td class="thirdcol aggressive">AT</td>    <td>Aggressive Call</td></tr>
            <tr><td class=nocall>&nbsp;&nbsp;</td>              <td>Missing/Ignored SNP</td>    <td class="thirdcol usercall">AT</td>      <td>User Call</td></tr>
        </table>

        <br><br>
    </div>

    <div id="igv-container" style="width: 800px; float: left;"></div>

    <div style="clear: both"></div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='igv/igv.min.js') }}"></script>
    <script type="text/javascript">
    var sampleNameA = "{{ sampleA.name }}";
    var sampleNameB = "{{ sampleB.name }}";
    var bamUrlA = "{{ sampleA.bam }}";
    var bamUrlB = "{{ sampleB.bam }}";
    var genome = "{{ genome }}";
    var snpsBedFile = "{{ snps_bed }}";
    var selectedIdx = {{ selected_idx }};

    var selectedEls = null;
    function selectCell(el) {
        if (activeUsercallForm) {
            activeUsercallForm.hide();
            activeSnpTxt.show();
        }
        if (selectedEls) {
            selectedEls.indexCell.removeClass("selectedIdxCell");
            selectedEls.aCell.removeClass("selectedInnerCell");
            selectedEls.bCell.removeClass("selectedInnerCell");
            selectedEls.penaltyCell.removeClass("selectedPenaltyCell");
        } else {
            selectedEls = {};
        }
        var id = el.attr("id"),
            chrom = el.attr("chrom"),
            pos = el.attr("pos"),
            index = id.split("_")[0];

        selectedEls.indexCell = $("#" + index + "_idx");
        selectedEls.penaltyCell = $("#" +index + "_penalty");
        selectedEls.aCell = $("#" + index + "_a");
        selectedEls.bCell = $("#" + index + "_b");
        selectedIdx = parseInt(index);

        selectedEls.indexCell.addClass("selectedIdxCell");
        selectedEls.aCell.addClass("selectedInnerCell");
        selectedEls.bCell.addClass("selectedInnerCell");
        selectedEls.penaltyCell.addClass("selectedPenaltyCell");

        return [chrom, parseInt(pos)];
    }

    var activeUsercallForm = null,
        activeSnpTxt = null;
    $('.snprow .cell').on("click", function() {
        var loc = selectCell($(this));

        activeSnpTxt = $(this).find("span");
        activeSnpTxt.hide();
        activeUsercallForm = $(this).find("form");
        activeUsercallForm.show();

        showIGV(loc[0], loc[1]);
    });

    $('.index_row .cell, .penaltyrow .cell').on("click", function() {
        var loc = selectCell($(this));
        showIGV(loc[0], loc[1]);
    });

    if (selectedIdx !== null) {
        var loc = selectCell($("#" + selectedIdx + "_idx"));
        showIGV(loc[0], loc[1]);
    }

    function handleKeyDown(e) {
        if (selectedIdx !== null) {
            e = e || window.event;
            var newIdx = -1;
            if (e.keyCode == '38') {       // up arrow
                newIdx = selectedIdx - 40;
            }
            else if (e.keyCode == '40') {  // down arrow
                newIdx = selectedIdx + 40;
            }
            else if (e.keyCode == '37') {  // left arrow
                newIdx = selectedIdx - 1;
            }
            else if (e.keyCode == '39') {  // right arrow
                newIdx = selectedIdx + 1;
            }
            if (newIdx > 0 && newIdx <= {{ total_snps }}) {
                selectedIdx = newIdx;
                var loc = selectCell($("#" + selectedIdx + "_idx"));
                showIGV(loc[0], loc[1]);
            }
        }
    }
    document.onkeydown = handleKeyDown;

    $(".usercall_input").focusin(function() {
        document.onkeydown = null;
    }).focusout(function() {
        document.onkeydown = handleKeyDown;
    }).keyup(function(e) {
        if (e.keyCode == 27) {  // ESC
            this.value = $(this).parent().parent().find("span").text();
            $(this).blur();
        } else {
            this.value = this.value.toLocaleUpperCase();
        }
    });

    function showIGV(chrom, pos) {
        if (!igv.browser)
            createIGV();
        var locus = chrom + ': ' + (pos - 50) + '-' + (pos + 50);
        igv.browser.search(locus);
    }

    function createIGV() {
        var get_bam_track_config = function(sample_name, file_url) {
            return {
                type: 'alignment',
                indexed: true,
                colorBy: 'strand',
                url: file_url,
                name: sample_name,
                height: 313,
                minHeight: 313,
                autoHeight: false,
                alignmentRowHeight: 10,
            };
        };

        // global igv settings
        igv.CoverageMap.threshold=0.1;

        //initialize IGV tracks
        var tracks = [];
        tracks.push({
            type: 'annotation',
            name: 'Fingerprint locations',
            url: snpsBedFile,
            indexURL: null,
            height: 24,
            minHeight: 24,
            autoHeight: false,
            color: '#000000',
        });
        tracks.push(get_bam_track_config(sampleNameA, bamUrlA));
        tracks.push(get_bam_track_config(sampleNameB, bamUrlB));

        //initialize IGV.js browser
        var reference = {};
        if (genome == 'hg19') {
            reference['id'] = 'hg19';
            reference['fastaURL'] = 'http://igv.broadinstitute.org/genomes/seq/1kg_v37/human_g1k_v37_decoy.fasta';
            reference['cytobandURL'] = 'http://igv.broadinstitute.org/genomes/seq/b37/b37_cytoband.txt';
        }
        else if (genome == 'hg38') {
            reference['id'] = 'hg38';
            reference['fastaURL'] = 'http://igv.broadinstitute.org/genomes/seq/hg38/hg38.fa';
        }
        var options = {
            showCommandBar: true,
            reference: reference,
            showKaryo: false,
            tracks: tracks,
        };
        igv.createBrowser($("#igv-container")[0], options);

        // allow one more zoom-in level
        igv.browser.pixelPerBasepairThreshold = function() {
            return 28.0;  //default is currently 14.0
        };

        igv.browser.trackViews.forEach(function (panel) {
            if(panel.track.name) {
                //add border between tracks
                panel.viewportDiv.style.borderBottom = panel.viewportDiv.style.borderLeft = "1px solid #cccccc";

            }
        });
    }

    // // Depth heatmap
    // var BLUE_HUE = 240,
    //     RED_HUE = 0,

    // function get_color(hue, lightness) {
    //     if (!lightness) {
    //         lightness = 92;
    //         [r, g, b] = hslToRgb(hue / 360, 0.8, lightness / 100)
    //     return '#' + r.toString(16) + g.toString(16) + b.toString(16)
    // }









    </script>
{% endblock %}



