#tree_svg
    margin-left: -90px

//.link
//    fill: none
//    stroke: #555
//    stroke-opacity: 0.4
//    stroke-width: 1.5px

.links
    fill: none
    stroke: #000

.link-extensions
    fill: none
    stroke: #000
    stroke-opacity: .25

.link--active
    stroke: #000 !important
    stroke-width: 1.5px

.link-extension--active
    stroke-opacity: .6

//.label--active
//    font-weight: bold

.leaf
    text
        font: 10px sans-serif
    text.seq
        font: 10px "Lucida Console", Monaco, monospace
        .c
            fill: #007a00
        .a
            fill: #002aba
        .t
            fill: #970035
        .g
            fill: #eecf00
        .n
            fill: #b2b2b2

    a
        text-decoration: underline
    a:visited
        text-decoration: underline
    a:hover, a:active
        fill: darkred
        text-decoration: underline

    .gender
        font: 10px "Lucida Console", Monaco, monospace
    .gender_m
        fill: #2c78ba
    .gender_f
        fill: #ba5484

