* text=auto
d3/* linguist-vendored=true
igv/* linguist-vendored=true
jquery/* linguist-vendored=true
modernizr/* linguist-vendored=true
table_sorter/* linguist-vendored=true
bootstrap/* linguist-vendored=true
