{% extends "_base.html" %}

{% block head %}
        <title>{{ title }}</title>

        <style>
            #tree_svg {
                margin-left: -100px;
            }

            .link {
                fill: none;
                stroke: #555;
                stroke-opacity: 0.4;
                stroke-width: 1.5px;
            }

            .node text {
              font: 10px sans-serif;
            }
            .node text.seq {
              font: 10px "Lucida Console", Monaco, monospace;
            }

            a {
{#              fill: #3b84ae;#}
              text-decoration: underline;
            }
            a:visited {
{#              fill: darkpurple;#}
              text-decoration: underline;
            }
            a:hover, a:active {
              fill:darkred;
              text-decoration: underline;
            }

            .c_nuc { fill: #007a00; }
            .a_nuc { fill: #002aba; }
            .t_nuc { fill: #970035; }
            .g_nuc { fill: #eecf00; }
            .n_nuc { fill: #b2b2b2; }
        </style>
{% endblock %}

{% block body %}
        <h1>Phylogeny tree based on fingerprints</h1>

        <ul style="margin-left: -23px;">
        <span style="margin-left: -16px;">Samples from the following projects are used:</span>
        {% for project in projects %}
            <li style="color: {{ project.color }}">{{ project.name }}</li>
        {% endfor %}
        </ul>
        <br>

        <svg id="tree_svg" width="{{ width }}" height="{{ height }}"></svg>
        <div id="data_json" style="display: none;">{{ data|safe }}</div>
{% endblock %}

{% block js %}
        <script src="https://d3js.org/d3.v4.js"></script>
        <script>  {# Based on http://bl.ocks.org/mbostock/4063570 #}
        var treeWidth = {{ tree_width }},
            treeHeight = {{ tree_height }},
            treeSampleSpace = 8,
            sampleSeqSpace = 15;

        var svg = d3.select("svg");
        svg.attr("width", treeWidth);
        svg.attr("height", treeHeight);
        var g = svg.append("g").attr("transform", "translate(40,0)");

        var tree = d3.cluster()
            .size([treeHeight, treeWidth]);

        var stratify = d3.stratify()
            .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf(".")); });

        var data = JSON.parse($('#data_json').text());
        var root = stratify(data)
            .sort(function(a, b) { return (a.height - b.height) || a.id.localeCompare(b.id); });

        tree(root);

        var link = g.selectAll(".link")
            .data(root.descendants().slice(1))
          .enter().append("path")
            .attr("class", "link")
            .attr("d", function(d) {
              return "M" + d.y + "," + d.x
                   + "C" + (d.parent.y + 0) + "," + d.x
                   + " " + (d.parent.y + 10) + "," + d.parent.x
                   + " " + d.parent.y + "," + d.parent.x;
            });

        g.selectAll(".node")
            .data(root.descendants())
          .enter().append("g")
            .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        var leafsTexts = g.selectAll(".node--leaf")
          .append("a")
            .attr("xlink:href", function(d) { return d.data.sample_id; })
          .append("text")
            .attr("dy", 3)
            .attr("x", function(d) { return treeSampleSpace; })
            .style("text-anchor", "start")
            .style("fill", function(d) { return d.data.color; })
            .text(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1); });

        var labelSizes = [];
        leafsTexts.each(function() { labelSizes.push(this.getComputedTextLength()); });
        var maxTextWidth = d3.max(labelSizes);

        var seqWidth = g.selectAll(".node--leaf")
          .append("text")
            .attr("dy", 3)
            .attr("x", function() { return maxTextWidth + sampleSeqSpace; })
            .attr("class", "seq")
            .each(function(d) {
              var nucs = d3.select(this)
                .selectAll(".nuc")
                  .data(d.data.seq)
                .enter().append("tspan")
                  .attr("class", function(d) { return d[1]; })
                  .text(function(d) { return d[0]; });
            })
            .node()
            .getComputedTextLength();

        svg.attr("width",
            treeWidth +
            treeSampleSpace +
            maxTextWidth +
            sampleSeqSpace +
            seqWidth +
            50);

        console.log(seqWidth);

        </script>
{% endblock %}